<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= path == '/'? 'active' : '' %>"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item <%= path == 'services'? 'active' : '' %>"><a href="services" class="nav-link">Services</a></li>
                <li class="nav-item <%= path == 'team'? 'active' : '' %>"><a href="team" class="nav-link">Team</a></li>
                <li class="nav-item <%= path == 'blog'? 'active' : '' %>"><a href="blog" class="nav-link">Blog</a></li>
                <li class="nav-item <%= path == 'contact'? 'active' : '' %>"><a href="contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
  </nav>